@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 250, 255, 252;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  background: hsl(233, 12%, 13%);
}
/* 
@media (prefers-color-scheme: dark) {
} */
html,
html a {
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -moz-osx-font-smoothing: grayscale;
}
body {
  color: rgb(var(--foreground-rgb));
  font-size: 16px;
  background: rgb(var(--background-rgb));
  animation: gradient 15s ease infinite;
  font-family: "Epilogue", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.blue {
  color: #0000ff;
}
.orange {
  color: #e8871e;
}

@layer components {
  .container {
    @apply px-4 sm:px-6 md:px-6 lg:px-12 xl:px-24 mx-auto;
  }
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .text-aligned {
    @apply text-start sm:text-center md:text-start;
  }
  .items-aligned {
    @apply items-start  sm:items-center md:items-start;
  }
  .justify-aligned {
    @apply justify-start  sm:justify-center md:justify-start;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Epilogue;
  letter-spacing: 1px;
}
